{% css %}
:root{
--bg-color: var(--theme1-v2-light-contrast);
--color-accent: var(--theme1-v2-light-accent);
--color-typo: var(--theme1-v2-light-typo);  
--color-alt: var(--theme1-v2-light-alt) 
}

{% endcss %}
